<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/Manager.js"></script>
    <script src="/js/Hotel.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/7fe498c607.js" crossorigin="anonymous"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=72764d4407eae4771ae834fbbe85f476"></script>
    <link rel="stylesheet" href="/css/managementStyle.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>관리자</title>
    <script>
      function openPopup(url) {
        window.open(url, "memberDetail", "width=800, height=700, scrollbars=1, toolbar=1, menubar=yes, left=300px, top=100px");
      }

      function addList(list) {
        const $listBody = $("#listBody");
        $listBody.empty();
        for (const l of list) {
          const tableContent = `
          <tr>
            <td><a href="#" onclick="openPopup('/hotel/manager/memberDetail?name=${l.name}&tel=${l.tel}')">${l.name}</a></td>
            <td>${l.tel}</td>
            <td>${l.email}</td>
            <td>${l.username}</td>
            <td>${l.black}</td>
            <td>${l.vip}</td>
          </tr>
            `;
          $listBody.append(tableContent);
        }
      }

      $(document).ready(function () {
        const token = $("#token").val();
        $("#searchName").on("keyup", function (event) {
          // 엔터키가 눌리면
          if (event.keyCode === 13) {
            // 검색 버튼 클릭과 동일한 이벤트 발생
            $("#nameSearchBtn").click();
          }
        });

        $("#nameSearchBtn").on("click", async function () {
          const name = $("#searchName").val();
          try {
            const list = await $.ajax({
              url: "/hotel/manager/memberSearch?name=" + name + "&_csrf=" + token,
              method: "post",
            });
            addList(list);
          } catch (err) {
            const $listBody = $("#listBody");
            $listBody.empty();
            const tableContent = `
          <tr>
            <td rowspan="6">${err.responseText}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        `;
            $listBody.append(tableContent);
          }
        });
      });
    </script>
  </head>
  <body id="managerBody">
    <input type="hidden" id="token" name="_csrf" th:value="${_csrf.token}" />
    <div class="managment">
      <div id="headerAndnav" class="navbar navbar-expand-sm">
        <div id="div_logo">
          <div id="logo">
            <a href="/hotel/manager/bookList"><img src="/img/LOGO(1)-B.png" id="logoImg" alt="로고" /></a>
          </div>
        </div>
        <form action="/hotel/member/logout" method="post">
          <div id="logoutArea">
            <input type="hidden" id="token" name="_csrf" th:value="${_csrf.token}" />
            <button class="btn btn-secondary">로그아웃</button>
          </div>
        </form>
      </div>
      <div id="managmentmain">
        <div id="asidearea">
          <div id="asidemenu">
            <ul>
              <li><a href="/hotel/manager/bookList" id="textcolor">예약조회</a></li>
              <li><a href="/hotel/manager/memberSearch" id="textcolor">회원조회</a></li>
              <li><a href="/hotel/manager/book" id="textcolor">예약</a></li>
              <li><a href="/hotel/manager/managerMallList" id="textcolor">주문조회</a></li>
              <li><a href="/hotel/manager/itemUpdate" id="textcolor">재고관리</a></li>
              <li><a href="/hotel/manager/managerBoard" id="textcolor">문의게시판</a></li>
            </ul>
          </div>
        </div>

        <div id="list">
          <div id="searcharea">
            <div id="search">
              <input type="text" id="searchName" placeholder="이름 입력" height="2px;" />
              <button class="btn btn-secondary" style="width: 70px" id="nameSearchBtn">검색</button>
            </div>
          </div>

          <div id="listarea">
            <table class="table table-hover">
              <colgroup>
                <col style="width: 15%" />
                <col style="width: 15%" />
                <col style="width: 20%" />
                <col style="width: 20%" />
                <col style="width: 15%" />
                <col style="width: 15%" />
              </colgroup>
              <thead id="listthead">
                <tr>
                  <th>이름</th>
                  <th>연락처</th>
                  <th>이메일</th>
                  <th>아이디</th>
                  <th>블랙리스트</th>
                  <th>VIP</th>
                </tr>
              </thead>
              <tbody id="listBody"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div id="managerFooter">
      <div id="managerFooterLogo">
        <img src="/img/LOGO(1)-B.png" alt="로꼬" width="200vw;" />
      </div>
    </div>
  </body>
</html>
